// Color
$primary-color: #4f77ff;
$text: #7b88a8;
$bg: #f7f5f1;
$bg-gray: #292f3a;
$text-heading: #2d3958;
$yellow: #f9c45c;
$text-black: #120f1f;
// Fonts
$font-primary: "DM Sans", sans-serif;
$font-secondary: "Outfit";
