.hero 
    .container.hero-container
        .hero-content 
            h1.heading.heading--biggest.hero-heading Branding to fuel your growth 
                span goals & ideas.
            p.text.hero-desc We're a digital product and UX agency in San Francisco. Strategy, design,and development across all platforms.
            .hero-links 
                a.hero-started.button(href="") Get Started
                a.hero-play
                    span.hero-play-icon 
                        img(src="images/icon-play.svg", alt="play") 
                    span How It Works
        .hero-image 
            img(srcSet="images/girl.png",alt="girl")